<div class="row">
  <div class="col-md-8">
    <% @posts.each do |post| %>
      <div class="article">
        <h2><%= post.title %></h2>
        <p><%= post.category %></p>
        <p><%= truncate(post.body, length: 50) %></p>
        <p>
          <%= link_to "続きを読む", post, class: 'btn btn-default' %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="#" alt="著者イメージ">
      <div class="caption">
        <h3>著者名</h3>
        <p>著者詳細</p>
      </div>
    </div>

    <div class="list-group">
      <% @new_posts.each do |post| %>
        <%= link_to post.title, post, class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>
