<div class="row">
  <div class="col-md-12">
    <h1><%= @post.title %></h1>
    <p>カテゴリ：<%= @post.category.title %></p>
    <p>投稿日：<%= @post.created_at %></p>
    <hr>
    <p>
      <%= simple_format(@post.body) %>
    </p>
    <hr>
    <%= link_to '編集する', edit_post_path, class: "btn btn-default" %>
    <%= link_to '削除する', post_path, method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しますか？'} %>

    <hr />
    <h2>コメント一覧</h2>
    <% @comments.each do |comment| %>
      <p>
        <%= comment.body %>
      </p>
      <p>
        <%= link_to "編集", edit_comment_path(comment), class: "btn btn-default" %>
        <%= link_to "削除する", comment_path(comment), method: :delete, class: "btn btn-warning", data: { confirm: "コメントを本当に削除しますか？"} %>
      </p>
    <% end %>

    <hr />
    <%= form_for(@comment, url: { controller: :comments, action: :create }) do |f| %>
      <div class="form-group">
        <%= f.label :body , 'コメント' %><br>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
